.main__news {
    padding: 4em 0;
    text-align: center;
    font-family: 'Rubik', Helvetica, arial, sans-serif;
    .news__title {
        text-align: left;
    }
    @include overview-news;

    .news__link {
        display: inline-block;
        color: $raspberry;
        font-weight: 500;
        font-size: $big;
        margin-bottom: 1em;
        margin-top: 1rem;
        @include button-base($raspberry, white);
        @include button-transparent($raspberry);
    }
}
