.main__projects {
    background-color: $purple;
    padding: 4em 0;
    text-align: center;
    .projects__title {
        color: white;
        text-align: left;
        margin-bottom: 2em;
    }
    .projects__button {
        margin-top: 3em;
        @include button-base(white, $purple);
        @include button-transparent(white);
    }

    @include overview-project;
    
    .projects__inside-wrapper {
        .project {
            box-shadow: inset 0 -4px darken($lightGray, 15%);
            border: none;
        }
    }

}
