/strategie
/ressources
/design
/client
/wordpress/wp-admin
/wordpress/wp-includes
/wordpress/license.txt
/wordpress/readme.html
/wordpress/*.php

/wordpress/wp-content/languages
/wordpress/wp-content/plugins
/wordpress/wp-content/uploads
/wordpress/wp-content/index.php

/wordpress/wp-content/themes/twentyfifteen
/wordpress/wp-content/themes/twentyseventeen
/wordpress/wp-content/themes/twentysixteen
/wordpress/wp-content/themes/index.php

/wordpress/wp-content/themes/mariam-faso/node_modules
/wordpress/wp-content/themes/mariam-faso/assets

wordpress/wp-content/themes/.idea/

/ex_wordpress
