// Generic \\
@mixin hidden {
    font-size: 0;
    text-indent: -9999px;
    line-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

@mixin wysiwyg($color) {
    strong {
        font-weight: 600;
    }
    em {
        font-style: italic;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: $color;
        font-weight: 500;
        position: relative;
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0.03em;
            background-color: $color;
            position: absolute;
            bottom: 0.05em;
            left: 0;
            transition: 0.1s ease-in;
        }
        &:hover::after, &:focus::after {
            height: 0.07em;
        }
    }
}

@mixin max-width-centered {
    max-width: $max-width;
    margin: 0 auto;
}

// Titles \\

@mixin landing-title($color) {
    font-family: 'Rubik', Helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: $huge;
    line-height: 1.2;
    color: $color;
    text-align: left;
    @include wysiwyg($color);
}

@mixin third-title($color) {
    font-family: 'Rubik', Helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $bigger;
    color: $color;
}

// buttons \\
@mixin button-base($color, $hoverColor) {
    display: inline-block;
    padding: 1em 2em;
    min-width: 232px;
    text-transform: uppercase;
    font-family: Rubik, 'Open Sans', Helvetica, arial, sans-serif;
    text-align: center;
    font-size: $normalPlus;
    letter-spacing: 0;
    line-height: 1;
    color: $color;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    &:hover, &:focus {
        color: $hoverColor;
    }

}

@mixin button-transparent($borderColor) {
    border: 2px solid $borderColor;
    border-radius: 3px;
    &:hover, &:focus {
        background-color: $borderColor;
    }
}

@mixin button-colored($color, $percent) {
    border-radius: 3px;
    box-shadow: inset 0 -4px darken($color, $percent);
    background-color: $color;
    &:hover, &:focus {
        box-shadow: inset 0 -4px darken($color, $percent * 1.5);
    }
    &:active {
        box-shadow: inset 0px 1px 5px 3px darken($color, $percent * 1.5);
        transition: none;
    }
}

@mixin button-colored-rounded($color, $percent) {
    border-radius: 50px;
    background-color: $color;
    box-shadow: inset 0 -4px darken($color, $percent);
    &:hover, &:focus {
        box-shadow: inset 0 -4px darken($color, $percent * 1.5);
    }
    &:active {
        box-shadow: inset 0px 1px 5px 3px darken($color, $percent * 1.5);
        transition: none;
    }
}


// Links \\

@mixin link-underline-transition($color, $thickness, $offset) {
    cursor: pointer;
    &::after {
        content: "";
        height: $thickness;
        background-color: $color;
        display: block;
        margin-top: -5px;
        opacity: 0;
        transition: 0.2s ease-in;
    }
    &:hover::after, &:focus::after {
        margin-top: -5px + $offset;
        opacity: 1;
    }
}

@mixin link-with-right-arrow($color) {
    font-family: "Rubik", Helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: $normalPlus;
    color: $color;
    &::after {
        content: "d";
        font-family: mariamfaso;
        display: inline-block;
        font-size: $smallPlus;
        vertical-align: middle;
        margin-left: 0.5em;
        margin-right: 0.5em;
        transition: 0.25s ease-in-out;
    }
    &:hover::after, &:focus::after {
        margin-right: 0;
        margin-left: 1em;
    }
}

// Overviews \\

@mixin overview-event {
    .events__inside-wrapper {
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        .event {
            background-color: white;
            border-radius: 3px;
            border: 2px solid $lightGray;
            max-width: $columns7p;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            margin-bottom: 66px;
        &:not(:nth-child(3n+1)) {
            margin-left: 66px;
        }
            &__img--wrapper {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                order: -1;
                overflow: hidden;
                height: 215px;
                margin-bottom: 1.25rem;
                width: 100%;
            }
            &__img {
                width: 100%;
            }
            &__title {
                font-family: "Rubik", Helvetica, arial, sans-serif;
                font-size: $big;
                color: $raspberry;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1;
                padding: 0 1.25rem;
                &--bigger {
                    padding: 6rem 1.25rem 0 1.25rem;
                    font-size: $biggestPlus;
                    min-height: 215px;
                    margin-bottom: 1.25rem;
                }
            }
            &__time {
                position: absolute;
                top: 1.25rem;

                font-family: "Rubik", Helvetica, arial, sans-serif;
                font-weight: 600;
                font-size: $big;
                color: white;
                background-color: $raspberry;
                padding: 0.5em;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            &__content--wrapper {
                width: 100%;
                padding: 0 1.25rem;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-between;

                .event__desc {
                    font-weight: 500;
                    margin-top: 1rem;
                    min-height: 110px;

                    &--down {
                        margin-top: 1rem + $big;
                    }
                }

                .event__link {
                    cursor: pointer;
                    margin-top: 1rem;
                    padding-bottom: 2rem;
                    align-self: flex-end;

                    @include link-with-right-arrow($purple);

                }
            }
        }
    }
}

@mixin overview-project {
    .projects__inside-wrapper {
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        .project {
            background-color: white;
            border-radius: 3px;
            border: 2px solid $lightGray;
            max-width: $columns7p;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            margin-bottom: 66px;
            &:not(:nth-child(3n+1)) {
                margin-left: 66px;
            }

            &__img--wrapper {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                order: -1;
                overflow: hidden;
                height: 215px;
                margin-bottom: 1.25rem;
                width: 100%;
            }
            &__img {
                width: 105%;
            }
            &__title {
                font-family: "Rubik", Helvetica, arial, sans-serif;
                font-size: $big;
                color: $purple;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.2;
                min-height: 72px;
                padding: 0 1.25rem;
            }

            &__content--wrapper {
                width: 100%;
                padding: 0 1.25rem;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-between;

                .project__desc {
                    font-weight: 500;
                    margin-top: 1rem;
                    min-height: 110px;
                }

                .project__link {
                    cursor: pointer;
                    margin-top: 1rem;
                    padding-bottom: 2rem;
                    align-self: flex-end;

                    @include link-with-right-arrow($purple);

                }
            }
        }
    }
}
