$type-scale: 1.25;
$normal: 1rem;

$smallest: $normal * pow($type-scale, -3);
$smaller: $normal * pow($type-scale, -2);
$small: $normal * pow($type-scale, -1);

$big: $normal * pow($type-scale, 1);
$bigger: $normal * pow($type-scale, 2);
$biggest: $normal * pow($type-scale, 3);

$huge: $normal * pow($type-scale, 6);
