$max-width: 1056px;
$column-width: 44px;


// Columns
$columns7: 29.1667%;
$columns8: 33.3333%;
$columns10: 41.6667%;
$columns11: 45.8333%;
$columns12: 50%;
$columns13: 54.1667%;
$columns16: 66.6667%;
$columns18: 75%;
$columns24: 100%;

// columns pixels
$columns5p: $column-width * 5;
$columns6p: $column-width * 6;
$columns7p: $column-width * 7;
$columns10p: $column-width * 10;
$columns12p: $column-width * 12;
$columns19p: $column-width * 19;
