.contact__form {
    background-color: $raspberry;
    padding: 3rem 0 6rem 0;

    .form__wrapper {

        .form__title {
            color: white;
            margin-bottom: 2rem;
        }
        .form__content {
            font-family: "Rubik", Helvetica, arial, sans-serif;
            background-color: white;
            max-width: $columns19p;
            border-radius: 3px;
            box-shadow: inset 0 -4px darken($lightGray, 15%);
            padding: 2rem $column-width 0 $column-width;

            .form__mendatoryfields {
                color: $raspberry;
                font-style: italic;
                margin-bottom: 1rem;
            }

            .wpcf7-form {
                display: flex;
                flex-direction: column;
                .form__label {
                    text-transform: uppercase;
                    color: $raspberry;
                    margin-bottom: 0.5rem;
                    &--required::after {
                        content: "*";
                        margin-left: 0.5em;
                    }
                }
                .form__input {
                    font-family: "Open Sans", Helvetica, arial, sans-serif;
                    margin-bottom: 1.5rem;
                    border-radius: 3px;
                    box-shadow: none;
                    border: 1px solid $darkGray;
                    min-height: 2rem;
                    padding: 0.5em 1em;
                    &--textarea {
                        padding: 1em;
                    }
                }
                .form__button {
                    align-self: flex-end;
                    @include button-base(white, white);
                    @include button-colored($raspberry, 10%);
                    border: none;
                    cursor: pointer;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .wpcf7-response-output {
        padding: 2rem 0;
        &.wpcf7-mail-sent-ng {
            color: red;
        }
        &.wpcf7-validation-errors {
            color: red;
        }
    }
    .screen-reader-response {
        @include hidden;
    }
    .wpcf7-not-valid-tip {
        margin-top: -1.5rem;
        color: red;
        margin-bottom: 1.5rem;
    }
}
