.footer {
    margin-top: 5rem;
    padding: 3rem 0 2rem 0;
    background-color: $purple;
    color: white;
    border-top: 0.512em solid $orange;
    font-size: $normal;
    letter-spacing: 0.25px;
    .footer__wrapper {
        max-width: $max-width;
        margin: 0 auto;
    }
    .footer--important {
        font-weight: 600;
    }
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    .footer__column {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.75;
    }
}

.footer__title {
    display: inline-block;
    font-family: 'Rubik', 'Open Sans', Helvetica, arial, sans-serif;
    font-size: $bigger;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 0;
    line-height: 1;
}

.footer__desc, .footer__address {
    min-height: 115px;
}

.footer__questions {
    .footer__address--line {
        display: block;
    }
    .footer__mail {
        font-weight: 600;
        @include link-underline-transition(white, 1px, 2);
    }
}

.footer__follow {
    .footer__copyright {
        margin-top: 30px;
        font-size: $smaller;
        &--link {
            font-weight: 600;
            display: inline-block;
            @include link-underline-transition(white, 1px, 2);
        }
    }
}

.footer__button, .footer__social {
    margin-top: 1.5rem;
}

.footer__button {
    &--contact {
        @include button-base(white, $purple);
        @include button-transparent(white);
    }
    &--donate {
        @include button-base($purple, $purple);
        @include button-colored-rounded($yellow, 20%);
    }
    &--social {
        @include hidden;
        &::after {
            font-family: mariamfaso;
            font-size: $icon / 2;
            color: $purple;
            line-height: $icon;
            padding: $icon / 4;
            @include button-colored-rounded(white, 15%);
        }
        &.footer__facebook::after {
            content: "f";
            margin-right: $icon / 2;
        }
        &.footer__youtube::after {
            content: "y";
        }

        // Hover, focus and active effects \\
        &:hover::after, &:focus::after {
            box-shadow: inset 0 -4px darken(white, 15% * 2);
        }
        &:active::after {
            box-shadow: inset 0px 1px 5px 3px darken(white, 15% * 2);
            transition: none;
        }
    }
}
