.header {
    &.header--home {
        min-height: 100vh;
        background: transparent url('../images/landing.jpg') center/cover no-repeat fixed;
    }

    .header__wrapper {
        max-width: 1056px;
        margin: 0 auto;
    }
    .header__title {
        display: inline-block;
    }

    .navigation {
        display: inline-block;
        .navigation__item {
            display: inline-block;
        }
        .navigation__sub-item {
            height: 0;
            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
        }
    }
}
