.header {
    font-family: "Rubik", Helvetica, arial, sans-serif;
    color: $raspberry;
    border-bottom: 0.512em solid $orange;
    .header__wrapper {
        @include max-width-centered;
        padding: 1.75em 0;
    }
    .header__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        .header__title {
            flex-grow: 1;
        }
        .navigation {
            flex-grow: 2;
            svg[id="navIconSVG"] {
                display: none;
                fill: $raspberry;
            }
        }
    }
    &.header--home {
        .navigation {
            svg[id="navIconSVG"] {
                fill: white;
            }
        }
    }
}

// Main navigation

.navigation__list {
    display: flex;
    justify-content: space-between;
    min-height: 1.5em;
    .navigation__item:not(.navigation__item--parent) {
        .navigation__link {
            @include link-underline-transition($raspberry, 2px, 5);
        }
    }
    .navigation__item--parent {
        &>.navigation__link::after {
            content: "v";
            font-family: 'mariamfaso';
            font-size: $smaller;
            font-weight: 400;
            color: inherit;
            display: inline-block;
            text-transform: lowercase;
            margin-left: 0.833em;
        }
    }
}

// Showing/hiding sub-menu

.navigation__list .navigation__item--parent { // remove --toggled modifier
    position: relative;
    .navigation__sub-container {
        font-size: 0;
        line-height: 0;
    }
    &:hover, &:focus {
        .navigation__sub-container {
            position: absolute;
            width: 265px;
            border-radius: 3px;
            box-shadow: 0px 4px 0px 0px darken($raspberry, 10%);
            z-index: 1;
            &::before {
                content: "u";
                text-transform: lowercase;
                font-size: $big;
                font-family: 'mariamfaso';
                color: $raspberry;
                position: relative;
                top: 7px;
                left: 1rem;
                z-index: -1;
                display: inline-block;
                padding-top: 0.64rem;
                background-color: rgba(0,0,0,0);
            }
        }

        .navigation__sub-item {
            background-color: $raspberry;
            width: 100%;
            color: white;
            font-size: $small;
            letter-spacing: 0.8px;
            line-height: 1;
            box-shadow:  0px 1px 0px 0px darken($raspberry, 10%) inset;
            @include transition-color;
            &:last-child {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            &:first-child {
                box-shadow: none;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
            .navigation__link {
                display: inline-block;
                padding: 1.2em 1em;
                height: 40px;
                width: 100%;
                margin: 0 auto;
            }

            &:hover, &:focus {
                color: $raspberry;
                background-color: white;
            }

        }
    }
}

// Homepage submenu colors
.header--home {
    .navigation__item:not(.navigation__item--parent) {
        .navigation__link {
            @include link-underline-transition(white, 2px, 5);
        }
    }
    .navigation__list .navigation__item--parent {
            &:hover, &:focus {
                .navigation__sub-container {
                    box-shadow: 0px 4px 0px 0px $lightGray;
                    &::before {
                        color: white;
                    }
                }
                .navigation__sub-item {
                    background-color: white;
                    color: $raspberry;
                    box-shadow:  0px 1px 0px 0px $raspberry70 inset;
                    @include transition-color;
                    &:first-child {
                        box-shadow: none;
                    }
                    &:hover, &:focus {
                        color: white;
                        background-color: $raspberry;
                    }
                }
            }
    }
}
