.header--home {
    min-height: 100vh;
    background: transparent url('../images/landing.jpg') center/cover no-repeat fixed;
    color: white;
    border: none;
}

.landing {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__title {
        @include landing-title(white);
    }
    &__button {
        margin-top: 1.5em;
        @include button-base($purple, $purple);
        @include button-colored-rounded($yellow, 20%);
    }
}
