.main-intro {
    font-family: "Rubik", helvetica, arial, sans-serif;
    font-size: $big;
    max-width: $columns18;
    letter-spacing: 0.25px;
    @include wysiwyg($darkGray);
    margin-bottom: 2rem;
}
