// Background styling \\
.single-landing {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 2rem;
    &--color {
        background-color: $purple70;
        background-repeat: repeat-x;
        &.single-landing--opaque {
            background-color: $purple;
            .single-landing__content {
                min-height: 55vh;
            }
        }
        .breadcrumb {
            color: white;
            a {
                @include link-underline-transition(white, 1px, 4);
            }
        }
    }
}

// Content styling \\
.single-landing__content {
    @include max-width-centered;

    min-height: 80vh;
    padding: 5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: "Rubik", helvetica, arial, sans-serif;
    .single-landing__title {
        @include landing-title(white);
        max-width: $columns16;
        &--strong {
            font-weight: 600;
        }
    }
    .single-landing__subtitle {
        @include landing-title(white);
        //line-height: 1;
    }
    .single-landing__intro {
        margin-top: 0.75rem;
        max-width: $columns16;
        font-weight: 500;
        font-size: $normalPlus;
        line-height: 1.5;
        letter-spacing: 0.45px;
        @include wysiwyg(white);
    }

    .single-landing__button {
        margin-top: 1.5em;
        @include button-base($purple, $purple);
        @include button-colored-rounded($yellow, 20%);
    }
}
