// Background styling \\
.single-landing {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    &--color {
        min-height: 80vh;
        background-color: $purple70;
        background-repeat: repeat-x;
        &.single-landing--opaque {
            background-color: $purple;
            min-height: 55vh;
        }
    }
}

// Content styling \\
.single-landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1056px;
    margin: 0 auto;
    .single-landing__title {
        @include landing-title(white);
        max-width: 60%;
        &--strong {
            font-weight: 600;
        }
    }
    .breadcrumb {
        @include breadcrumb;
    }
}
