// Background styling \\
.single-landing {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    &--color {
        background-color: $purple70;
        background-repeat: repeat-x;
        &.single-landing--opaque {
            background-color: $purple;
            min-height: 55vh;
        }
    }
}

// Content styling \\
.single-landing__content {
    min-height: 80vh;
    max-width: 1056px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: "Rubik", helvetica, arial, sans-serif;
    .single-landing__title {
        @include landing-title(white);
        max-width: 60%;
        &--strong {
            font-weight: 600;
        }
    }
    .single-landing__intro {
        max-width: 66.667%;
        font-weight: 500;
        font-size: $normalPlus;
        line-height: 1.5;
        letter-spacing: 0.45px;
        @include wysiwyg(white);
    }
}
