.projects {
    .project {
        margin: 0;
    }
    @include overview-project;
    .projects__inside-wrapper {
        max-width: $max-width;
        margin: 0 auto;
    }
}

.projects__introduction {
    .projects__button {
        margin-top: -0.5rem;
        margin-bottom: 3rem;
        @include button-base(white, white);
        @include button-colored-rounded($raspberry, 10%);
    }
}
