.projects {
    .project {
        margin: 0;
        position: relative;
        .about__project {
            font-family: mariamfaso;
            background-color: $raspberry;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top: 1px solid $lightGray;
            box-shadow: inset 0 -4px darken($raspberry, 10%);
            cursor: help;
            position: absolute;
            right: 1rem;
            top: -1px;
            font-size: 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                display: block;
                font-size: 1.5rem;
                color: white;
            }
            &--inProgress::before {
                content: "p";
            }
            &--over::before {
                content: "c";
            }
            &:hover, &:focus {
                &::after {
                    font-family: "Rubik", Helvetica, arial, sans-serif;
                    display: inline-block;
                    position: absolute;
                    bottom: 60px;
                    right: 0;
                    padding: 1em;
                    font-size: $smallPlus;
                    color: $raspberry;
                    font-weight: 500;
                    background-color: white;
                    box-shadow: inset 0 -4px $lightGray;
                    border-radius: 3px;
                    border: 1px solid $lightGray;
                    opacity: 1;
                }
            }
            &--inProgress:hover::after, &--inProgress:focus::after  {
                content: "Projet en cours";
                min-width: 140px;

            }
            &--over:hover::after, &--over:focus::after {
                content: "Projet terminé";
                min-width: 136px;
            }

        }

    }
    @include overview-project;
    .projects__inside-wrapper {
        max-width: $max-width;
        margin: 0 auto;
    }
}

.projects__introduction {
    .projects__button {
        margin-top: -0.5rem;
        margin-bottom: 3rem;
        @include button-base(white, white);
        @include button-colored-rounded($raspberry, 10%);
    }
}
