.project {
    max-width: $max-width;
    margin: 3rem auto 0 auto;
    display: flex;
    align-items: flex-start;

    &__articles {
        max-width: $columns12p;

        .second-title {
            margin-bottom: 0;
        }
        .project__content {
            .article__content {
                @include wysiwyg($darkGray);
                font-weight: 400;
                .project__subtitle {
                    font-family: "Rubik", Helvetica, arial, sans-serif;
                    color: $raspberry;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom: 0.25rem;
                    margin-top: 1.5rem;
                }
            }
            .project__img--wrapper {
                width: 100%;
                margin-bottom: 3rem;
                margin-top: 1rem;
                .project__img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    &__infos {
        margin-top: 2rem;
        max-width: $columns12p;
        margin: 0 auto;
        .info__single {
            border: 1px solid $yellow;
            border-radius: 3px;
            min-height: 100px;
            max-width: 100%;
            margin-top: 1.5rem;
            color: $purple;
            font-family: "Rubik", Helvetica, arial, sans-serif;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 2rem;

            .info__title {
                text-transform: uppercase;
                font-weight: 600;
                display: block;
                margin-bottom: 0.25em;
            }
        }
        .infos__button {
            @include button-base($purple, $purple);
            @include button-colored-rounded($yellow, 20%);
            width: 100%;
            margin-top: 2rem;
        }
    }

    &__gallery {
        max-width: $max-width;
        margin: 0 auto;
        .project__gallery-imgs {
            margin-top: 2em;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .project__img--wrapper {
                height: $columns7p;
                width: $columns7p;
                overflow: hidden;
                margin-bottom: 66px;
                &:not(:nth-child(3n+1)) {
                    margin-left: 66px;
                }
                .project__img {
                    width: auto;
                    height: $columns7p;
                }
            }
        }
    }
}


.project__back {
    display: block;
    max-width: $max-width;
    margin: 1rem auto 3rem auto;
    @include link-with-left-arrow($purple);
}
