@media screen and (max-width: 1100px) {
    .event__infos {
        .infos__title {
            padding: 0 2rem;
            max-width: 100%;
        }
        .event__back {
            padding: 0 2rem;
            max-width: 100%;
        }

        .infos__wrapper {
            //margin: 2rem -33px 0 -33px;
            .info__single {
                &:not(:nth-child(3n+1)) {
                    margin-left: 0;
                }
                margin-right: 66px;
                //margin: 0 33px 44px 33px;
                &.event__map {
                    margin-bottom: 66px;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .event__infos {
        .infos__wrapper {
            .info__single {
                &.event__map {
                    max-width: 100%;
                    height: auto;
                    max-height: 250px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .event__infos {
        .infos__title {
            padding: 0 1rem;
        }
        .event__back {
            padding: 0 1rem;
        }
        .infos__wrapper {
            .info__single {
                max-width: 100%;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                &.event__map {
                    display: none;
                }
            }
        }
    }
}
