.event__infos {
    .infos__title {
        max-width: $max-width;
        margin: 3rem auto 0 auto;
    }
    .event__back {
        display: block;
        max-width: $max-width;
        margin: 1rem auto 3rem auto;
        @include link-with-left-arrow($purple);
    }
    .event__imgs-title {
        font-family: "Rubik", Helvetica, arial, sans-serif;
        display: block;
        color: $purple;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }
    .infos__wrapper {
        margin-top: 2rem;
        &::after {
            display: block;
            content: "";
            clear: both;
        }
        .more__infos {
            &::before {
                content: "";
                display: block;
                clear: both;
            }
            .more__infos--title {
                font-family: "Rubik", Helvetica, arial, sans-serif;
                display: block;
                color: $purple;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0.25em;
            }
            .more__infos--content {
                margin-bottom: 3rem;
                @include wysiwyg($darkGray);
            }

        }
        .info__single {
            float: left;
            border: 1px solid $yellow;
            border-radius: 3px;
            height: 120px;
            width: $columns7p;
            margin-bottom: 44px;
            overflow: auto;
            color: $purple;
            font-family: "Rubik", Helvetica, arial, sans-serif;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 2rem;
            &:not(:nth-child(3n+1)) {
                margin-left: 66px;
            }
            .info__title {
                text-transform: uppercase;
                font-weight: 600;
                display: block;
                margin-bottom: 0.25em;
            }
            &.event__map {
                padding: 0;
                height: 284px;
                overflow: hidden;
                width: $columns7p * 2 + 64px;
                margin-bottom: 0;
                margin-left: 0;
                .map__img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .event__imgs {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            &-title {
                content: "";
                display: block;
                clear: both;
            }
            .event__img--wrapper {
                height: $columns7p;
                width: $columns7p;
                overflow: hidden;
                margin-bottom: 66px;
                &:not(:nth-child(3n+1)) {
                    margin-left: 66px;
                }
                .event__img {
                    width: auto;
                    height: $columns7p;
                }
            }
        }
    }
}

.event__social {
    margin-top: 1.5em;
}

.event__facebook {
    @include hidden;
    &::before {
        font-family: mariamfaso;
        font-size: $icon / 2;
        color: $purple;
        line-height: $icon;
        padding: $icon / 4;
        @include button-colored-rounded(white, 15%);
        content: "f";
        margin-right: $icon / 2;
    }
    // Hover, focus and active effects \\
    &:hover::before, &:focus::before {
        box-shadow: inset 0 -4px darken(white, 15% * 2);
    }
    &:active::before {
        box-shadow: inset 0px 1px 5px 3px darken(white, 15% * 2);
        transition: none;
    }
}
